body,
html {
   width: 100%;
   height: 100%;
   font-family: "Droid Sans", arial, verdana, sans-serif;
   font-weight: 700;
   color: #ff6;
   background-color: #000;
   overflow: hidden;
}

.titles {
   position: absolute;
   width: 18em;
   height: 50em;
   bottom: 0;
   left: 50%;
   margin-left: -9em;
   font-size: 40px;
   font-weight: normal;
   text-align: justify;
   overflow: hidden;
   transform-origin: 50% 100%;
   transform: perspective(150px) rotateX(10deg);
}

h1 {
   font-size: 60px;
   font-weight: bold;
}

h2 {
   font-size: 50px;
   font-weight: bold;
}

.titles:after {
   position: absolute;
   content: ' ';
   left: 0;
   right: 0;
   top: 0;
   bottom: 60%;
   background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
}

.titlecontent {
   position: absolute;
   top: 100%;
   animation: scroll 30s linear 1s infinite;
   text-align: center;
}

@keyframes scroll {
   0% {
      top: 100%;
   }

   100% {
      top: -170%;
   }
}